/*********************************************************************
*
* Conteudo Relacionado ao array do aluno em expecifico.
*
********************************************************************/

.layout-detalhes {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5rem;
    padding: 4rem;
}


.perfil-aluno-container {
    gap: 1rem;
    width: 500px;
    height: 500px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.perfil-aluno-container img {
    width: 400px;
    height: 431px;
    border-radius: 15px; 
    object-fit: cover;
    margin-bottom: 1.5rem;
    border: 5px solid #f0f0f0;
}

.perfil-aluno-container h2 {
    font-size: 1.8rem;
    text-align: center;
    color: #333;
}


.grafico-container {
    flex: 2; 
    display: flex;
    align-items: flex-end; 
    justify-content: space-around;
    height: 500px;
    width: 500px; 
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 20px;
    border-bottom: 4px solid #ddd; 
}


.grafico-torre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; 
    height: 100%;
    width: 60px;
}


.barra-valor {
    width: 100%;
    border-radius: 8px 8px 0 0; 
    transition: height 1s ease-out; 
    position: relative;
}


.sigla-materia {
    margin-top: 1rem;
    font-weight: 800;
    color: #555;
    font-size: 1rem;
}