*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    width: 100vw;
    justify-content: space-between;
}

/* ==========================================================================
   HEADER (Cabeçalho)
   ========================================================================== */

header {
    width: 100vw;
    height: 100px;
    background-color: #3347b0;
    display: flex;
    justify-content: space-between;
    padding-inline: 6rem;
    align-items: center;
}

.logo-tipo {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   font-size: large;
   color: white;
}

.bnt-header{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 124px;
    height: 42.67px;
    text-align: center;
    gap: 12px;
}

.bnt-header img{
    height: 42px;
    width: 48px;
}

.bnt-header h2 {
    color: white;
    font-size: 36px;
}

/* ==========================================================================
   MAIN (Principal/Conteudo)
   ========================================================================== */

#container-principal {
    display: flex;
    width: 100%;
    height: 100%;
    padding-inline: 6rem;
    justify-content: center;
    gap: 3.5rem;
}

.informacao-central {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.informacao-central h1 {
    font-weight: 300;
    font-size: 3.5rem;
}

.informacao-central span {
    font-weight: 700;
    color: #3347b0;
}

.estudante{
    padding-top: 20px;
    height: 90%;
    object-fit: contain;
}

.cursos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    width: 30%;
    align-items: end;
}

.ds {
    display: flex;
    justify-content: center;
    align-items: center;
    width:  100%;
    height: 56%;
    gap: 1rem;
    background-color: #3347b0;
    border:1px;
    border-color: black;
    color: white;
    filter: drop-shadow(12px 12px 2px #3347B080);
}

.ds i {
    font-size: 4.5rem;
}

.ds h1 {
    font-size: 4rem;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width:  100%;
    height: 56%;
    padding: 10px;
    gap: 0.5rem;
    background-color: #3347b0;
    border:1px;
    border-color: black;
    color: white;
    filter: drop-shadow(12px 12px 2px #3347B080);
}

.redes i {

    font-size: 4.5rem;
}

.redes h1 {
    padding: 0.5rem;
    font-size: 4rem;
}

/* ==========================================================================
   Footer (Rodapé)
   ========================================================================== */

footer{
    height: 100%;
    width: 100vw;
    background-color: #3347b0;
}

.rodape {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 2rem 6rem;
    color: white;
}

.contato-escola {
    display: flex;
    flex-direction: column;
    gap: 0.8rem; 
}

.item-contato{
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.direitos-autorais{
    font-size: 20px;
}

.redes-sociais {
    display: flex;
    gap: 1.5rem; 
    font-size: 1.5rem;
}

.redes-sociais i {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 45px; 
    height: 45px;            
    
    border: 2px solid white; 
    border-radius: 50%;      
    
    padding: 10px;          
    cursor: pointer;
    transition: all 0.3s ease;
}

.redes-sociais i:hover {
    background-color: white;
    color: #1a1a1a;          
    transform: scale(1.1);   
}